<div class="container border p-4 mt-4">
  <form [formGroup]="addNewMemberForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-3 ">
        <label for="pin">PIN:</label>
        <input id="pin" formControlName="pin" type="text" class="form-control" />
        <div *ngIf="addNewMemberForm.get('pin')?.invalid && addNewMemberForm.get('pin')?.touched">
          <small *ngIf="addNewMemberForm.get('pin')?.hasError('required')">PIN is required.</small>
          <small *ngIf="addNewMemberForm.get('pin')?.hasError('minlength')">PIN must be at least 4 digits.</small>
          <small *ngIf="addNewMemberForm.get('pin')?.hasError('maxlength')">PIN cannot exceed 6 digits.</small>
        </div>
      </div>
      <div class="col-md-3 ">
        <label for="name">Name:</label>
        <input id="name" formControlName="name" type="text" class="form-control" />
        <div *ngIf="addNewMemberForm.get('name')?.invalid && addNewMemberForm.get('name')?.touched">
          <small *ngIf="addNewMemberForm.get('name')?.hasError('required')">Name is required.</small>
        </div>
      </div>
      <div class="col-md-3 ">
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" class="form-control" />
        <div *ngIf="addNewMemberForm.get('email')?.invalid && addNewMemberForm.get('email')?.touched">
          <small *ngIf="addNewMemberForm.get('email')?.hasError('required')">Email is required.</small>
          <small *ngIf="addNewMemberForm.get('email')?.hasError('email')">Invalid email format.</small>
        </div>
      </div>
      <div class="col-md-3 ">
        <label for="officialPhoneNumber">Official Phone:</label>
        <input id="officialPhoneNumber" formControlName="officialPhoneNumber" type="text" class="form-control" />
        <div *ngIf="addNewMemberForm.get('officialPhoneNumber')?.invalid && addNewMemberForm.get('officialPhoneNumber')?.touched">
          <small *ngIf="addNewMemberForm.get('officialPhoneNumber')?.hasError('required')">Official phone is required.</small>
          <small *ngIf="addNewMemberForm.get('officialPhoneNumber')?.hasError('pattern')">Phone number must be numeric.</small>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-3 ">
        <label for="designation">Designation:</label>
        <input id="designation" formControlName="designation" type="text" class="form-control" />
        <div *ngIf="addNewMemberForm.get('designation')?.invalid && addNewMemberForm.get('designation')?.touched">
          <small *ngIf="addNewMemberForm.get('designation')?.hasError('required')">Designation is required.</small>
        </div>
      </div>
      <div class="col-md-3 ">
        <label for="departments">Departments:</label>
        <input id="departments" formControlName="departments" type="text" class="form-control" />
        <div *ngIf="addNewMemberForm.get('departments')?.invalid && addNewMemberForm.get('departments')?.touched">
          <small *ngIf="addNewMemberForm.get('departments')?.hasError('required')">Departments are required.</small>
        </div>
      </div>
      <div class="col-md-3 ">
        <label for="unit">Unit:</label>
        <input id="unit" formControlName="unit" type="text" class="form-control" />
        <div *ngIf="addNewMemberForm.get('unit')?.invalid && addNewMemberForm.get('unit')?.touched">
          <small *ngIf="addNewMemberForm.get('unit')?.hasError('required')">Unit is required.</small>
        </div>
      </div>

        <div class="col-md-3 ">
          <label class="col" for="profileImage">Profile Image:</label>
          <input id="profileImage" type="file" (change)="onFileSelected($event)" class="form-control" />
          <div *ngIf="fileError">
            <small class="text-danger">{{ fileError }}</small>
          </div>
        </div>

    </div>

    <div class="form-row mt-3">
      <div class="col-md-12 text-left">
        <button type="submit" [disabled]="addNewMemberForm.invalid" class="btn btn-primary">Submit</button>
      </div>
    </div>

  </form>

</div>
