<div class="container mt-4">
  <div class="d-flex justify-content-end mb-2">
    <button class="btn btn-primary me-2" (click)="showPrevious()" [disabled]="isPreviousDisabled">Previous 7 Days</button>
    <button class="btn btn-primary" (click)="showNext()" [disabled]="isNextDisabled">Next 7 Days</button>
  </div>
  <div class="table-responsive">
    <form [formGroup]="form">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th>Dates</th>
          <th *ngFor="let date of displayedDates">{{ date }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Description</td>
          <td *ngFor="let item of displayedItems.controls; let i = index">
            <input formControlName="description" class="form-control" />
          </td>
        </tr>
        <tr>
          <td>Amount</td>
          <td *ngFor="let item of displayedItems.controls; let i = index">
            <input formControlName="amount" type="number" class="form-control" />
          </td>
        </tr>
        <tr *ngFor="let user of users">
          <td>{{ user.username }}</td>
          <td *ngFor="let date of displayedDates">
            <input type="checkbox" (change)="checkBoxChange()" [formControlName]="date" />
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
