.card {
  min-height: 100%;
  border-radius: 8px;
}

.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-responsive {
  max-height: 350px;
  overflow-y: auto;
}

.table {
  width: 100%;
  margin-bottom: 0;
}
